@use './tokens';

html,
body,
#root {
  margin: 0;
  height: 100%;
}

html {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font);
}

#root {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-body);
  font-weight: var(--fw-body);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
